/* Add specific styles for the Blog page */
#blog {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

#blog h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.blog-post {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 16px;
    color: #777;
}
